<nz-card style="width: 300px; margin: 30px;" nzTitle="组件/业务demo总览">
  <div nz-row>
          <a routerLink="/demo/inputGroup">搜索助手-业务demo</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/tip">提示框/模态框</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/table">表格</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/attachment">文件上传/导入导出</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/tabs">tab切换-业务demo</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/collapse">折叠面板-业务demo</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/form">表单元素组合-输入框/下拉框/数字框/文本域/复选框/单选框/按钮组</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/tree">树</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/loading">加载中</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/searchPannel">搜索面板</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/date">日期</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/dynamicTree">动态树-业务demo</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/richText">富文本</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/searchPannel">搜索面板</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/transfer">穿梭框</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/time">时间轴</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/progress">进度状态/进度百分比</a>
  </div>
  <div nz-row>
      <a routerLink="/demo/group">表单基本元素多项组合</a>
  </div>
</nz-card>
